<div class="weather-page">

    <div class="weather-header">
        <div>
            <h1>{{ weather.title }}</h1>
            <div class="date">
                {{ weather.current_date }}
            </div>
        </div>

        <div class="current">
            <img
                src="{{ weather.current_day_icon }}"
                alt="Current weather"
            >

            <div>
                <div class="temperature">
                    {{ weather.current_temperature }}{{ weather.temperature_unit }}
                </div>

                <div class="feels-like">
                    Feels like {{ weather.feels_like }}
                </div>
            </div>
        </div>
    </div>


    <div class="hourly">
        {% for hour in weather.hourly_forecast[:8] %}
            <div class="hour">
                <div>{{ hour.time }}</div>

                <img
                    src="{{ hour.icon }}"
                    alt="Weather"
                >

                <strong>
                    {{ hour.temperature }}°
                </strong>

                <span>
                    {{ (hour.precipitation * 100) | round | int }}%
                </span>
            </div>
        {% endfor %}
    </div>


    <div class="forecast">
        {% for day in weather.forecast[1:6] %}
            <div class="forecast-day">

                <strong>
                    {{ day.day }}
                </strong>

                <img
                    src="{{ day.icon }}"
                    alt="{{ day.day }}"
                >

                <div>
                    {{ day.high }}° / {{ day.low }}°
                </div>

            </div>
        {% endfor %}
    </div>

</div>
